@import url('https://fonts.googleapis.com/css?family=VT323&display=swap&subset=latin-ext');

body {
  background-color: #fafafa;
  color: #0f0f0f;
  font-family: VT323, monospace;
  margin: 0px;
}
.loading-screen {
  display: grid;
  height: 500px;
  grid-template:
    '. . .' 1fr
    '. cn .' 2fr
    '. . .' 1fr
    / 1fr 2fr 1fr;
  text-align: left;
}
button {
  text-decoration: underline;
  background-color: #fafafa;
  border: none;
  font-family: VT323, monospace;
  font-size: 16px;
  padding: 0;
  &:hover {
    background-color: #0f0f0f;
    color: #fafafa;
  }
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}
